data_directory = '{{postgresql_data_directory}}'
hba_file = '{{postgresql_hba_file}}'
ident_file = '{{postgresql_ident_file}}'
external_pid_file = '{{postgresql_external_pid_file}}'
listen_addresses = '{{postgresql_listen_addresses|join(',')}}'
port = {{postgresql_port}}
max_connections = {{postgresql_max_connections}}
superuser_reserved_connections = {{postgresql_superuser_reserved_connections}}
unix_socket_directories = '{{postgresql_unix_socket_directories|join(',')}}'
unix_socket_group = '{{postgresql_unix_socket_group}}'
unix_socket_permissions = {{postgresql_unix_socket_permissions}}
bonjour = {{'on' if postgresql_bonjour else 'off'}}
bonjour_name = '{{postgresql_bonjour_name}}'
ssl = {{'on' if postgresql_ssl else 'off'}}
ssl_ciphers = '{{postgresql_ssl_ciphers|join(':')}}'
ssl_ca_file = '{{postgresql_ssl_ca_file}}'
ssl_cert_file = '{{postgresql_ssl_cert_file}}'
ssl_crl_file = '{{postgresql_ssl_crl_file}}'
ssl_key_file = '{{postgresql_ssl_key_file}}'
shared_buffers = {{postgresql_shared_buffers}}
huge_pages = {{postgresql_huge_pages}}
max_prepared_transactions = {{postgresql_max_prepared_transactions}}
max_files_per_process = {{postgresql_max_files_per_process}}
shared_preload_libraries = '{{postgresql_shared_preload_libraries|join(',')}}'
max_worker_processes = {{postgresql_max_worker_processes}}
wal_level = {{postgresql_wal_level}}
wal_log_hints = {{postgresql_wal_log_hints}}
wal_buffers = {{postgresql_wal_buffers}}
archive_mode = {{'on' if postgresql_archive_mode else 'off'}}
max_wal_senders = {{postgresql_max_wal_senders}}
max_replication_slots = {{postgresql_max_replication_slots}}
hot_standby = {{'on' if postgresql_hot_standby else 'off'}}
logging_collector = {{'on' if postgresql_logging_collector else 'off'}}
track_activity_query_size = {{postgresql_track_activity_query_size}}
autovacuum_max_workers = {{postgresql_autovacuum_max_workers}}
autovacuum_freeze_max_age = {{postgresql_autovacuum_freeze_max_age}}
autovacuum_multixact_freeze_max_age = {{postgresql_autovacuum_multixact_freeze_max_age}}
max_locks_per_transaction = {{postgresql_max_locks_per_transaction}}
max_pred_locks_per_transaction = {{postgresql_max_pred_locks_per_transaction}}
